@media screen and (max-width:1170px) {
    .hero-text{
        margin: 0;
    }
}
@media screen and (max-width:1100px) {
    .cd-1 h2,.cd-2 h2,.cd-3 h2{
        bottom: 34%;
    }
}
@media screen and (max-width: 991px) {
    .logo-nor{
        display: none !important;
    }
    nav{
        background: #fff !important;
        padding: 20px 10px 20px 15px !important;
    }
    .nav-link{
        color: #000 !important;
    }
    .nav-link:hover{
        color: #0075CB !important;
    }
    .hero-text h1{
        font-size: 60px;
    }
    .additional-items{
        display: block;
    }
    .mob-nav{
        right: 10%;
    }
    .cards{
        flex-direction: column;
        padding: 0;
        position: relative;
        top: 200px;
    }
    .cd-1,.cd-2,.cd-3{
        width: 90% !important;
        height: 400px !important;
        background-position: top;
        bottom: 30%;
    }
    .cd-1{
        background-position: top;
    }
    .row1 .col-lg-3{
        margin-bottom: 50px;
    }
    .footer-items{
        padding: 30px 15px !important;
    }
}
@media screen and (max-width:782px) {
    .special-text p{
        width: 70%;
    }

}
@media screen and (max-width:771px) {
    .hero{
        padding: 0 35px;
    }
    .hero-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 70px;
    }
    .hero-text button{
        width: 70%;
    }
    .hero-text h1{
        font-size: 55px;
        width: 70%;
    }
    .hero-text h4{
        font-size: 24px;
    }
    .mob-nav{
        right: 12%;
    }
    .special-text p{
        line-height: 1.5;
        width: 80%;
    }
    .footer-items{
        padding: 30px 10px !important;
        flex-direction: column;
    }
    .footer-container h4{
        font-size: 20px;
        text-align: center;
    }
    .foot-1 h4{
        font-size: 20px;
        width: 200px;
    }
    .foot-1 img{
        height: 40px;
        width: 100px;
        margin-left: 25px !important;
    }
    .foot-2 a,.foot-3 a{
        width: 150%;
        font-size: 15px;
        text-align: center;
    }
    .footer-items{
        flex-direction: column;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.foot-5{
        align-items: center;
        margin-bottom: 20px;
    }
    .foot-4 form{
        align-items: center;
    }
}
@media screen and (max-width:767px) {
    .row1 img{
        height: 110px;
        width: 110px;
    }
}
@media screen and (max-width:658px) {
    .cd-1 h2,.cd-2 h2,.cd-3 h2{
        bottom: 35%;
    }
    .cd-1 p,.cd-2 p,.cd-3 p{
        font-size: 14px;
    }
    .special-text p{
        width: 90%;
    }
}
@media screen and (max-width:585px) {
    .hero-text h1{
        font-size: 45px;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }
    .mob-nav{
        right: 17%;
    }
    .hero-text h4{
        font-size: 20px;
        text-align: center;
    }
    .cd-1 h2,.cd-2 h2,.cd-3 h2{
        bottom: 42%;
    }
    .pr-card1,
    .pr-card2,
        .pr-card3,
        .pr-card4,
        .pr-card5 {
            width: 100%;
        }
        .special-img{
            background-position: center right;
        }
        .special-text{
            padding: 70px 70px;
        }
        .special-text p{
            width: 100%;
        }
}
@media screen and (max-width:523px) {
    .special-text{
        padding: 70px 35px;
    }
    .special-text h2{
        font-size: 40px;
        width: 100%;
    }
    .special-text h3{
        font-size: 19px;
    }
    .special-text h4{
        font-size: 20px;
    }
    .extra-text{
        display: none;
    }
    .foot-4 input{
        width: 155%;
    }
}
@media screen and (max-width:400px) {
    .mob-nav{
        right: 20%;
    }
    .footer-container h4{
        font-size: 18px;
        text-align: center;
    }
}   
@media screen and (max-width:384px) {
    .special-text{
        padding: 25px;
    }
}