@media screen and (max-width:991px) {

    nav {
        background: #fff !important;
        padding: 20px 10px 20px 15px !important;
    }

    .nav-link {
        color: #000 !important;
    }

    .nav-link:hover {
        color: #0075CB !important;
    }

    .additional-items {
        display: block;
    }

    .mob-nav {
        right: 10%;
        top: 17%;
    }

    .footer-items {
        padding: 30px 15px !important;
    }

    .overlay h1 {
        top: 90px;
    }

    .query {
        padding: 0;
    }

    .query-text {
        padding: 50px 10px 0 10px;
    }

    .row {
        padding: 30px 40px 50px 40px;
    }

    .listen {
        padding: 50px 25px;
    }
}

@media screen and (max-width:771px) {
    .mob-nav {
        right: 12%;
        top: 16%;
    }

    .overlay h1 {
        top: 91px;
    }

    .footer-items {
        padding: 30px 10px !important;
        flex-direction: column;
    }

    .footer-container h4 {
        font-size: 20px;
        text-align: center;
    }

    .foot-1 h4 {
        font-size: 20px;
        width: 200px;
    }

    .foot-1 img {
        height: 40px;
        width: 100px;
        margin-left: 25px !important;
    }

    .foot-2 a,
    .foot-3 a {
        width: 150%;
        font-size: 15px;
        text-align: center;
    }

    .footer-items {
        flex-direction: column;
    }

    .foot-1,
    .foot-2,
    .foot-3,
    .foot-4,
    .foot-5 {
        align-items: center;
        margin-bottom: 20px;
    }

    .foot-4 form {
        align-items: center;
    }

    .foot-4 input {
        width: 200%;
    }

    .listen {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        gap: 50px;
    }

    .listen-left {
        width: 100%;
    }

    .listen-right {
        width: 100%;
    }
}

@media screen and (max-width:585px) {
    .mob-nav {
        right: 17%;
        top: 15%;
    }

    .overlay h1 {
        top: 93px;
    }

    .listen-text {
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .listen-right button {
        left: 9%;
        padding: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width:523px) {
    .extra-text {
        display: none;
    }

    .foot-4 input {
        width: 130%;
    }

    .listen-right button {
        left: 12%;
    }
}

@media screen and (max-width:400px) {
    .mob-nav {
        right: 20%;
        top: 3%;
    }

    .overlay h1 {
        top: 120px;
        font-size: 52px;
    }

    .navbar {
        padding: 10px 10px !important;
    }

    .navbar .container-fluid {
        padding: 0 !important;
    }

    .row {
        padding-left: 20px;
        padding-right: 20px;
    }

    .query-text h1 {
        font-size: 32px;
    }

    .footer-container h4 {
        font-size: 18px;
        text-align: center;
    }
    .listen{
        padding: 20px 15px;
    }
    .listen-right{
        padding: 15px 15px 70px 15px;
    }
    .listen-right button {
        left: 5%;
        bottom: 4%;
    }
}