@media screen and (max-width:1200px){
    #pricei{
        left: 50%;
    }
    #min-value{
        left: 75%;
    }
    #dash{
        left: 64.5%;
    }
    #max-value{
        left: 98%;
    }
    .dropdown{
        left: 42%;
    }
    select{
        width: 65%;
    }
    .right-side{
        padding: 35px 25px;
    }
}
@media screen and (max-width:991px) {
    .additional-items{
        display: block;
    }
    .mob-nav{
        right: 7%;
    }
    .right-left{
        flex-direction: column;
        padding: 0 !important;
    }
    .right-side{
        order: 1;
        padding: 0 !important;
        width: 100%;
    }
    .left-side{
        order: 2;
        width: 100%;
        padding: 70px;
        padding: 10px 20px;
    }
    .left-side #search-input{
        width: 85%;
        position: relative;
        left: 90px;
    }
    #search-button{
        position: relative;
        left: 90px;
    }
    [slider]{
        width: 100%;
        margin: 15px 0;
    }
    .line{
        width: 100% !important;
    }
    #dash {
        display: none;
    }
    
    #pricei {
        left: 85%;
    }
    
    #min-value {
        left: 92%;
    }
    
    #max-value {
        left: 97%;
    }
    .right-top{
        margin-top: 20px;
    }
    .dropdown{
        left: 39%;
    }
    .footer-items{
        padding: 20px 40px !important;
    }
}
@media screen and (max-width: 767px) {
    .mob-nav{
        right: 10.5%;
    }
    .logo-mob{
        height: 35px;
    }
    .dropdown{
        left: 30%;
    }
    #pricei{
        left: 82.5%;
    }
    #max-value {
        left: 98%;
    }
    .left-side #search-input{
        width: 75%;
    }
    .footer-items{
        flex-direction: column;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.foot-5{
        gap: 12px;
        margin-top: 10px;
    }
    .foot-4 form{
        align-items: center;
    }
    .footer-items h5{
        text-align: center;
        margin-top: 10px;
    }
    .footer-items a{
        text-align: center;
    }
    #cartCanvas{
        width: 50%;
    }
}
@media screen and (max-width: 580px) {
    .mob-nav{
        right: 16%;
    }
    .logo-mob{
        height: 30px;
        position: relative;
        top: 5px;
    }
    nav {
        background-color: #fff !important;
        padding: 15px 5px 15px 5px !important;
    }
    #pricei{
        left: 73%;
    }
    #min-value{
        left: 88%;
    }
    #max-value {
        left: 98%;
    }
    #results-summary{
        width: 100%;    
    }
    .dropdown{
        left: 60%;
    }
    select{
        width: 85%;
    }
    .left-side #search-input{
        width: 74%;
        left: 60px;
    }
    .left-side button{
        left: 55px !important;
    }
    .pagination{
        margin-left: 60px;
    }
    .footer-container h4{
        font-size: 20px;
        text-align: center;
    }
    .foot-1 h4{
        font-size: 20px;
        width: 200px;
    }
    .foot-1 img{
        height: 40px;
        width: 100px;
        margin-left: 25px !important;
    }
    .foot-2 a,.foot-3 a{
        width: 150%;
        font-size: 15px;
        text-align: center;
    }
    .foot-1,.foot-2,.foot-3,.foot-4,.foot-5{
        align-items: center;
        margin-bottom: 20px;
    }
    .foot-4 form{
        align-items: center;
    }
    .extra-text{
        display: none;
    }
    .foot-4 input{
        width: 133%;
    } 
    #cartCanvas{
        width: 60%;
    }  
}
@media screen and (max-width: 400px) {
    .mob-nav{
        right: 18%;
    }
    .dropdown{
        left: 51%;
    }
    select{
        width: 93%;
        font-size: 14px !important;
    }
    #pricei{
        left: 64%;
    }
    #min-value {
        left: 84%;
    }
    .left-side #search-input{
            width: 60%;
            left: 45px !important;
        }
        .left-side button{
            left: 40px !important;
        }
    .footer-container h4{
        font-size: 18px;
        text-align: center;
    }
    #cartCanvas{
        width: 80%;
    }
    
}
@media screen and (max-width:320px) {
    .left-side #search-input{
        width: 78%;
        left: 25px !important;
    }
    .left-side button{
        left: 25px !important;
    }
}